body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background-color:#f9f7ed;
	margin:0px;
}
#wrapper {
	width:800px;
	margin:auto;
	background-color:#FFFFFF;
}
#header {
	height:80px;
	background-image:url(img/header5.jpg);
	background-repeat:no-repeat;
	height:120px;
}
#menu {
	background-image:url(img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	height:130px;
	color:#FFFFFF;
	text-align:center;
	background-image:url(img/footer.png);
}
h1 {
	color:#33170D;
	font-size:18px;
	border-bottom:1px solid #FF9900;
	padding-bottom:10px;
}
.styerror {
    color: #ff0000;
    font-family: arial;
    font-size: 10pt;
    font-style:italic;
}
